## general
Makefile
Makefile.in
.deps
.libs
*.l[ao]
*.[ao]
*.pc
stamp-*

## root
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/gtk-doc.make
/INSTALL
/libtool

## build
/build/
!/build/placeholder

## docs
/docs/reference/
!docs/reference/libggraph-docs.sgml
!docs/reference/libggraph-sections.txt
!docs/reference/version.xml.in
!docs/reference/Makefile.am

## examples
/examples/sgraph_traversing/sgraph_traversing
/examples/sgraph_construct/sgraph_construct
/examples/sgraph_subgraphs/sgraph_subgraphs
