Makefile
Makefile.in
.deps
.libs
config.*
INSTALL
aclocal.m4
compile
configure
depcomp
docs/reference/version.xml
doltcompile
doltlibtool
gtk-doc.make
install-sh
libtool
ltmain.sh
autom4te.cache
m4/lt*
m4/libtool.m4
m4/gtk-doc.m4
missing
src/libggraph-1.0.pc
stamp-h1
